/* Styles go here */
body{
  text-align:center;
}
div{
  color:red;
  direction:rtl;
}

input{
  background-color:pink;
  color:blue;
}

fieldset{
 position:relative;
  }

fieldset::after{
    content : "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: url("http://bit.ly/2gJU0Zj") no-repeat center; 
    background-size:cover;
    width: 100%;
    height: 100%;
    opacity : 0.5;
    z-index: -1;
}

textarea{
  resize:none;
  color:blue;
}
